  <div class= "header">
    resume
    <br>
    about me
    <h1>Christi Ovchinnikov Barker</h1>
    i am ___________
  </div>
  <div class="row skills">
    <div class="col s4 m4">
      <ul>
        <li class="center">GitHub</li>
        <li class="center">Javascript</li>
        <li class="center">HTML</li>
      </ul>
    </div>
    <div class="col s4 m4">
      <ul>
        <li class="center">CSS</li>
        <li class="center">Ruby</li>
        <li class="center">Sinatra</li>
      </ul>
    </div>
    <div class="col s4 m4">
      <ul>
        <li class="center">Git</li>
        <li class="center">Rails</li>
      </ul>
    </div>
  </div>
    <div class="row">
      <div class="col s12 m12">
        <h4 class= "center">Recommedations</h4>
      </div>
      <div class="col s6 m6 recomendations">
    <p>Owen was Christi’s mentor, December 2, 2017</p>
    <p>As a mentor for Christi, I've seen first-hand her determination and ability to learn quickly. Like all good engineers, Christi's mind keeps working on the problem even when she's not busy coding at her keyboard. Often, she keeps plugging away at her assignments on her own time, even after completing them, to master concepts she's learned. In particular, her passion for learning during the Ruby and Sinatra projects really stood out. I would recommend Christi for any web development position that requires a hard-working, creative individual.</p>

   <p> <strong>Owen Graupman</strong>
    - DevOps Architect at Willis Towers Watson's OneExchange</p>
   
  </div>
      <div class="col s6 recomendations">6-columns (one-half)</div>
    </div>

<!--     website projects-->
    <div class="row projects">
      <div class="col s4 m4">
        <div class="card">
          <div class="card-image">
            <%= image_tag ('cookie.JPG') %>
            <span class="card-title">Cookie Counter</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="http://christis-cookie-counter.herokuapp.com/" target="_blank">Cookie Counter</a>
          </div>
        </div>
      </div>
      <div class="col s4 m4">
        <div class="card">
          <div class="card-image">
            <%= image_tag ('wheel.JPG') %>
            <span class="card-title">Wheel of Fortune</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="http://christis-wheel-of-fortune.herokuapp.com/" target="_blank">Wheel of Fortune</a>
          </div>
        </div>
      </div>
      <div class="col s4 m4">
        <div class="card">
          <div class="card-image">
            <%= image_tag ('boat_one.jpg') %>
            <span class="card-title">Shipped</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="https://fedups.herokuapp.com/" target="_blank">Fedups</a>
          </div>
        </div>
      </div>
    </div>
            