
<div class="row">
	<div class="col s12 m12">
		<h4 class= "center">About Me</h4>
		
	</div>
</div>
<!-- <div class="row">
	<div class="col s3 m3"></div>
	<div class="col s6 m6">
		
	</div>
	<div class="col s3 m3"></div>
</div> -->
<div class="row">
	<div class="col s3 m3">
		<%= image_tag asset_url('my_pic.jpg'), class: "my_pic" %>
	</div>
	<div class="col s6 m6">
		<p class="about_me">I recently went back to school in web development and have had a great experience adding to my skill set. I’m ready and looking for the right team to grow with long-term, and have abilities in multiple localities and fields that have helped me to become someone that learns my new environment and role well while also staying focused on the tasks immediately at hand. I’ve had the opportunity to live and work in major metropolitan areas of the United States and Moscow, Russia and I’ve always had a desire to achieve set goals.</p>

		<p>I’m willing to relocate for the right opportunity and am also capable of self managed remote projects.</p>
		<p>Hobbies Include: Painting, Hiking, Reading, Ballroom Dance, Pole Fitness</p>
	</div>
	<div class="col s3 m3">
		<%= image_tag asset_url('lighthouse.jpg'), class: "picture" %>
	</div>
</div>
