
<div class="row">
	<div class="col s12 m12">
		<h4 class= "center">About Me</h4>
		
	</div>
</div>
<!-- <div class="row">
	<div class="col s3 m3"></div>
	<div class="col s6 m6">
		
	</div>
	<div class="col s3 m3"></div>
</div> -->
<div class="row">
	<div class="col s2 m2">
		<%# image_tag asset_url('certificate_of_completion.jpg'), class: "certificate" %>
	</div>
	<div class="col s6 m6">
		<p class="about_me">Self-starting and creative web developer dedicated to building and optimizing the performance of user-centric, high-impact websites. Solid background in structuring, developing and implementing interactive websites. Leverage technical, analytical & problem-solving skills to create dynamic, high-speed websites, apps and platforms fueling competitive advantage and revenue growth. Extensive experience in relational database design and management, data modeling, applications development, testing, troubleshooting, and implementation. Proven ability to incorporate process improvement procedures and reengineering initiatives
to meet business goals and objects. </p>
		<p>Outstanding problem solving and analysis skills with exceptional facilitation, collaborative, and coordination abilities.</p>
		<p>Demonstrate the ability to synthesize information, prioritize business goals and drive results with a high sense of urgency.</p>
		<p>Solid communication, interpersonal and problem-solving skills; able to excel in challenging and deadline driven environments.</p>
		<p>Advanced web developer with experience in structuring, developing and implementing interactive websites.
		<p>Abilities in studying development tools, programming techniques & computing equipment maintaining personal networks.</p>
		<p>Experience designing, coding and modifying websites, from layout to function & according to a client's specifications.</p>
		<p>Proven ability to create dynamic websites.
		<p>Work closely with clients, marketing team, and back-end developer to develop a strategy and plan website releases.</p>
		<p>Updates job knowledge by participating in educational opportunities; reading professional publications; maintaining personal networks; participating in professional organizations.</p>
		<p class="interests"><strong>Personal Interests:</strong> Dance Fitness, Painting, Hiking, Reading, Self Improvement, Management Classes</p>
	</div>
	<div class="col s3 m3">
		<%= image_tag asset_url('christi.jpg'), class: "my_pic pic_border_2" %>
	</div>
	<div class="col s3 m3">
		<%= image_tag asset_url('headshot.jpg'), class: "my_pic pic_border" %>
	</div>
	<!-- <div class="row"> -->
		<!-- <div class="col s2 m2"></div> -->
		<!-- <div class="col s6 m6"> -->
			<%# image_tag asset_url('certificate_of_completion.jpg'), class: "certificate" %>
		<!-- <div class="col s2 m2"></div> -->
		<!-- </div> -->
	<!-- </div> -->
</div>
