
<div class="row">
	<div class="col s12 m12">
		<h4 class= "center">About Me</h4>
		
	</div>
</div>
<!-- <div class="row">
	<div class="col s3 m3"></div>
	<div class="col s6 m6">
		
	</div>
	<div class="col s3 m3"></div>
</div> -->
<div class="row">
	<div class="col s2 m2">
		<%# image_tag asset_url('certificate_of_completion.jpg'), class: "certificate" %>
	</div>
	<div class="col s6 m6">
		<p class="about_me">I’m ready and looking for the right team to grow with long-term. My abilities in multiple localities and fields have helped me to become someone that adapts quickly to new environments while staying focused on the tasks with the highest priority level. The time I’ve had living and working in major metropolitan areas of the United States and internationally, have made me a self-starter, capable of working on a team as eficiently and meticulously as I preform stand alone tasks. I believe a practical education has no end, and look forward to enhancing all of my professional skills, both in a company and as an individual. </p>

		<p class="interests"><strong>Personal Interests:</strong> Dance Fitness, Painting, Hiking, Reading, Self Improvement, Management Classes</p>
	</div>
	<div class="col s3 m3">
		<%= image_tag asset_url('christi.jpg'), class: "my_pic" %>
	</div>
<!-- 	<div class="row">
		<div class="col s2 m2"></div>
		<div class="col s6 m6">
			<%# image_tag asset_url('certificate_of_completion.jpg'), class: "certificate" %>
		<div class="col s2 m2"></div>
		</div>
	</div> -->
</div>
