
<div class="row">
	<div class="col s12 m12">
		<h4 class= "center">Recommedations</h4>
	</div>
</div>
<div class="row">
	<div class="col s1 m1"></div>
	<div class="col s4 m4 recomendation">
		<!-- <p>December 2, 2017, Owen was Christi’s mentor</p> -->
		<p class="font_size">As a mentor for Christi, I've seen first-hand her determination and ability to learn quickly. Like all good engineers, Christi's mind keeps working on the problem even when she's not busy coding at her keyboard. Often, she keeps plugging away at her assignments on her own time, even after completing them, to master concepts she's learned. In particular, her passion for learning during the Ruby and Sinatra projects really stood out. I would recommend Christi for any web development position that requires a hard-working, creative individual. <span class="bold">Owen Graupman - DevOps Architect at Willis Towers Watson's OneExchange</span></p>

		<!-- <p>January 2, 2018, Joshua was Christi’s mentor</p> -->
		<p class="font_size">Christi is extremely driven and talented. She has shown great dedication in her programming journey and is extremely creative in problem solving and solution generation. Christi will continue to work through a problem until a sustainable and satisfactory result is achieved. I am confident that Christi will thrive with a new team and will certainly help further the company mission and success. <span class="bold">Joshua Besser - Director Planning, Procurement & Energy - Nitrogen Products @ Dyno Nobel</span></p>

	</div>
	<div class="col s2 m2"></div>
	<div class="col s4 m4">
		<!-- <p>January 5, 2018, Christi was a client of Samuel’s<p> -->
		<p class="font_size">Christi is fearless! Christi's perseverance in the face of adversity is second to none. She routinely inspires me with her quality of character, work ethic and determination. In class, she visibly demonstrated exponential growth as a learner and developer. In her work, she shows a lot of care, passion, and a flair for design. Never lacking for motivation and never skimping on effort, Christi is an asset to any team who needs a job done. <span class="bold">Samuel Lubin - Success Coach at New York Code + Design Academy</span></p>

		<!-- <p>January 2, 2018, Ryan and Christi were students together</p> -->
		<p class="font_size">I am lucky to have studied with Christi. She is very tenacious and has a lot of heart. I am convinced that whatever she puts her mind to, she will see it through to the end. You should get Christi on your team. <span class="bold"> Ryan Richardson - Full Stack Web Developer</span></p>

	<!-- 	<p>December 30, 2017, Casey was Christi’s teacher</p> -->
		<p class="font_size">Christi has some incredible grit. She keeps going and gets done what needs to get done. She took on a pretty big project of redoing a website that was outdated. Her redesign not only brought the site into 2017, but was simple, clean, and user friendly. She's a doer and she's dedicated. <span class="bold">Casey Stinnett - Lead Instructor at NYCDA (SLC)</span></p>

		
	</div>
	<div class="col s1 m1"></div>
</div>