// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .header {
// 	background-color:gray;
// }

// recommendation section 
.recomendations {
	font-family: 'Bellefair', serif;
	text-align: justify;
	height: auto;
	width: auto;
	font-size: 15px;
}

.snippets {
	font-family: 'Bellefair', serif;
	border-bottom: dotted;
	border-color: rgb(220, 121, 120);
}

.center{
	text-align: center;
	margin-top: 2%;
}

// skills section 
.skills {
	background-color: black;
	// background-color: rgb(87, 76, 61);
	padding-bottom: 1%;
}

.skill {
	background-color: black;
	// background-color: rgb(87, 76, 61);
	margin-bottom: 0%;
	text-align: center;
	padding-top: 3px;
}

// project section

.card-content {
	height: auto;
	width: auto;
	text-align: center;
}

.card-action {
	height: auto;
	width: auto;
	text-align: center;
}

.b_color {
	box-shadow: 10px 10px 5px rgb(220, 121, 120);
}


// header and overlay section
.name {
	text-align: center;
	font-size: 3.9em;
}

.name_two {
	text-align: center;
	font-size: 2em;
}

.strheader {
	text-align: center;
	font-weight: bold;
	font-size: 28px;
}

.img {
	width: 100%;
  height: 500px;
  position: relative;
  margin-top: -2%;
}

.overlay {
	position: absolute;
  width: 100%;
  margin: -370px auto;
 	color: white;
}

.img_size {
	height: 100px;
	width: 200px;
}

.margin {
	margin_top: -10px; 
	// margin_botton: -10px;
	height: 75px; 
}

.size {
	height: 155px;
	width: 55px;
}







