// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
	background-color:gray;
}

.recomendations {
	background-color: whitespace;
	height: 400px;
	width: auto;
}

.center{
	text-align: center;
}

.projects {
	background-color: lightgray;
}

// .card {
// 	height: 300px;
// 	width: 200px;
// }