.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.white {
    background-color: gray !important;
}