// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// recomendation css 

.recomendation {
	// background-color: #FFF8DC;
	font-family: 'Bellefair', serif;
	text-align: justify;
	height: auto;
	width: auto;
}

.bold {
	font-weight: bold;
}

.font_size {
	font-size: 18px;
	font-family: 'Bellefair', serif;
	text-align: justify;
	// box-shadow: 5px, 10px, rgb(220, 121, 120);
	// // background-color: whitespace;
}

.border {
	font-family: 'Bellefair', serif;
	text-align: justify;
	text-align: right;
	border-bottom: dotted;
	border-color: rgb(220, 121, 120);
}

// about me css	

.picture {
	height: 200px;
	width: 275px;
	margin-top: 11%;
	margin-left: 5%;
}

.my_pic {
	height: 275px;
	width: 250px;
	margin-left: 29%;
  margin-bottom: auto;
}

.about_me	{
	font-family: 'Bellefair', serif;
	text-align: justify;
	font-size: 18px;
	height: auto;
	// margin-left: 10%;
}

.interests {
	font-family: 'Bellefair', serif;
	font-size: 15px;
}

// links 

// a:visited {
// 	color: rgb(220, 121, 120);
// }

// a:link {
// 	color: #ffffff;
// }

// a:hover {
//     color: rgb(110, 199, 173);
// }




