<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Resume</h5>
                <h5 class="white-text">About Me</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Me</h5>
                <ul>
                  <li>text: (801)616-7305</li>
                  <li>email: kaco7777@gmail.com</li>
                </ul>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/christi-ovchinnikov-barker/">Linked in </a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/christibarker">git hub</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            
  </body>
</html>
